@charset "UTF-8";

* {
	box-sizing: border-box;
	tab-size: 4;
	font-family:Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,sans-serif!important;
}


.error-container {
	margin: 0 auto;
	margin-top: 200px;
    text-align: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.error-container h1 {
    font-size: 100px;
    margin: 0;
    color: #ff6b6b;
}

.error-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.error-container p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.error-container a {
    text-decoration: none;
    color: #fff;
    background-color: #ff6b6b;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.error-container a:hover {
    background-color: #ff4b4b;
}

.error-image {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
