<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.MemberMapper">

	<insert id="memberJoin" parameterType ="MemberVO">
		insert into USERS (MEMBERID, PASSWORD, EMAIL, NAME, REGDATE, ADMINCK, POINT, USER_IDX) 
		values(#{memberId}, #{password}, #{email}, #{name},  sysdate, 2, 10000, USER_IDX_SEQ.NEXTVAL)
	</insert>
	
	<select id="findById" parameterType="String" resultType="com.board.vo.MemberVO">
	
		select 
			memberId, password, email, name, adminck, point, user_idx, regdate
		from users
		where memberId = #{memberId}	
	</select>
	
</mapper>