<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.ProductMapper">

	<sql id="productOrderBy"> order by product_idx ASC </sql>
	<sql id="selectProduct">
		select 
			product_idx  as productIdx,
	        product_name as productName,
	        content      as content,
	        img1         as img1,
	        img2 		 as img2,
	        img3 		 as img3,
	        views        as views,
	        price		 as price,
	        cnt			 as cnt,
	        detail_img as detailImg
		from product
	</sql>
	<select id ="getProductAll" parameterType ="java.lang.Integer" resultType="com.board.vo.ProductVO">
		<include refid="selectProduct"/>
		<where>
			<if test="category != null">
				product_category = #{category}
			</if>
		</where>
		<include refid="productOrderBy"></include>
	</select>
	
	
	<select id ="getSearchList" parameterType ="java.util.Map" resultType="com.board.vo.ProductVO">
		<include refid="selectProduct"/>
		<where>
			<if test="category != null">
				product_category = #{category}
			</if>
			<if test="keyword != null and keyword !='' ">
				product_name like '%' || #{keyword} || '%'
			</if>
		</where>
		<include refid="productOrderBy"></include>
	</select>
	
	<select id="getProductByIdx" parameterType="Integer" resultType="com.board.vo.ProductVO">
		<include refid="selectProduct"/>
		where product_idx = #{productIdx}
	</select>
	
	<select id="getReview" parameterType="Integer" resultType="com.board.vo.ReviewsVO">
		select pr.user_id, pr.score, pr.regdate, pr.product_idx, pr.review_idx, pr.content
		from product_reviews pr
		left outer join kakao_table kt on kt.kakao_number = pr.kakao_number
		inner join users u on u.memberid = pr.user_id
		inner join product p on p.product_idx = pr.product_idx
		where pr.product_idx = #{productIdx}
		
	</select>
	
	<select id="getCountReview" parameterType="int" resultType="int">
		select count(*)
		from product_reviews
		where product_idx = ${productIdx}
	</select>
	
</mapper>